.sp-main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}



@media (max-width: 548px) {
    .sp-main-page {
        height: 100vh;
     }   
}